{% extends 'base.html.twig' %}

{% block body %}
    <div id="toRenderInPdf">
        {% include ':home/operationHistory/job-report:content.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        img {
            height: 32% !important;
        }
    </style>
{% endblock %}