<div class="form-element">
    <div class="subtitle form-label">
        {{ form_label(form.user) }}
    </div>
    <div class="select is-warning is-fullwidth">
        {{
        form_widget(form.user, {
            'attr': {
            }
        })
        }}
    </div>
</div>