{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <section class="hero is-light">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Add
                    </h1>
                    <h2 class="subtitle">
                        a new place
                    </h2>
                </div>
            </div>
        </section>
        <section class="container">
            {{ form_start(form) }}
                {% include(':parameters/place:form.html.twig') %}
                <div class="form-element columns">
                    <div class="form-element column">
                        <button class="button is-warning is-medium" type="submit">Create place</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-element {
            padding-top: 2.5em;
        }

        .form-element > button {
            width: 100%;
        }

        div.form-label {
            margin-bottom: 0.5em;
        }

        .container {
            padding-bottom: 2em;
        }
    </style>
{% endblock %}